## Variables

In [1]:
a = 4 
b = 3
a
b

3

In [2]:
print(a)
print(b)

4
3

In [3]:
# to create new cell automatically, press shift + enter
c = 7
c

7

In [4]:
print(a)
print(b)
print(c)

4
3
7

In [5]:
d = 'Hello'
e = "Mike's favorite color is purple"
print(d)
print(e)
print(d, e)

Hello
Mike's favorite color is purple
Hello Mike's favorite color is purple

In [6]:
print(a, b, c)

4 3 7

In [7]:
# rules for variable names
# Comments are fine in this manner
filterOrder = 2048
filter_Order = 2048 # This is a good parameter setting
data2plot = 3 # I think 3 is good

In [8]:
# Multiple assignments
f, g = 10, 20
print(f, g)

10 20

In [9]:
# To see a list of all the variables created, types and additional information
%whos

Variable       Type    Data/Info
--------------------------------
a              int     4
b              int     3
c              int     7
d              str     Hello
data2plot      int     3
e              str     Mike's favorite color is purple
f              int     10
filterOrder    int     2048
filter_Order   int     2048
g              int     20

In [10]:
# Exercises for the video
# is it possible to change the value of a into something else (override)? 
# Of course it is
a = 5
print(a)

5

In [11]:
# Override a variable using a different data type
b = "BS"
print(a)

5

In [12]:
%whos

Variable       Type    Data/Info
--------------------------------
a              int     5
b              str     BS
c              int     7
d              str     Hello
data2plot      int     3
e              str     Mike's favorite color is purple
f              int     10
filterOrder    int     2048
filter_Order   int     2048
g              int     20

## Math Oprations

In [13]:
x = 7
y = 4.1
z = 0
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'int'>

In [14]:
print(x - 6)

1

In [15]:
c = x + y - 2
print(c)

9.1

In [16]:
# Floating-point algebra vs real algebra. The real answer is 28.7, but since computers do not have arbitrary precision, these kinds of roundings happen all the time
print(x*y)

28.699999999999996

In [17]:
print(4/3)

1.3333333333333333

In [18]:
print(4//3)

1

In [19]:
print(4%3)

1

In [20]:
# Be careful with "\" symbol
4\
+3

7

In [21]:
print(3**2)

9

In [22]:
# square root
9**(1/2)

3.0

In [23]:
firstName = "Ilir"
lastName = "Sheraj"
print(firstName + lastName) # Overloading: + means different things in different settings

IlirSheraj

In [24]:
print(firstName + " " + lastName)

Ilir Sheraj

In [25]:
firstName * 4 # Another xmple of overlaoding

'IlirIlirIlirIlir'

## Printing and Inputing

In [26]:
x = 3
y = 5
print("3 times 5 equals 15")
print(x, "times", y, "equals", x*y)
print(str(x) + " times " + str(y) + " equals " + str(x*y))

3 times 5 equals 15
3 times 5 equals 15
3 times 5 equals 15

In [27]:
# Make python ask for input
ans = input("Feed me a stray cat. ") # input always gives a string
ans

Feed me a stray cat. bsa

'bsa'

In [28]:
ans = int(input("Feed me a stray cat. "))
ans

Feed me a stray cat. 4

4

In [29]:
ans = input("Feed me a stray cat. ")
ans = float(ans)

Feed me a stray cat. 5

In [30]:
# Exercise: Pythagorean Theorem a^2 + b^2 = c^2
# Input two numbers from the user corresponding of a and b
# Print the length of c
a = float(input("Assign the length of a; "))
b = float(input("Assign the length of b; "))
c = (a**2 + b**2)**(1/2)
print()
print("c is", c)

Assign the length of a; 3
Assign the length of b; 4

c is 5.0

## Lists

In [31]:
aList = [0, 1, 2, 3, 4, 5]
print(aList)

[0, 1, 2, 3, 4, 5]

In [32]:
strList = ["hi", "my", "name", "is", "Ilir"]
print(strList)

['hi', 'my', 'name', 'is', 'Ilir']

In [33]:
mixList = ["hello", "7", 7, 7.0]
print(mixList)

['hello', '7', 7, 7.0]

In [34]:
listLists = [3,              # a parameter of X
             [3, "four", 4], # a list
             "five",         # a string
             93478]

print(listLists)

[3, [3, 'four', 4], 'five', 93478]

In [35]:
aList = [0, 1, 2, 3, 4, 5]

In [36]:
4 in aList # boolean

True

In [37]:
4.5 in aList

False

In [38]:
4.5 not in aList

True

In [39]:
print(aList)
print(strList)

[0, 1, 2, 3, 4, 5]
['hi', 'my', 'name', 'is', 'Ilir']

In [40]:
aList + strList # Concatenation

[0, 1, 2, 3, 4, 5, 'hi', 'my', 'name', 'is', 'Ilir']

In [41]:
aList * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [42]:
# method
print(aList)
aList.append(-100)
print(aList)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, -100]

In [43]:
# sort: mutating the list permanently
aList.sort()
aList

[-100, 0, 1, 2, 3, 4, 5]

In [44]:
# list name plus dot, then tabb to se the methods available
# coun tthe number of 7's in the list below
newList = [3,4,7,4,7,7,7,7,77,5,4,4,6,7,8,86,6]
newList.count(7)

6

## Tuples

In [45]:
atuple = (3, "4", 3)
atuple

(3, '4', 3)

In [46]:
atuple*3

(3, '4', 3, 3, '4', 3, 3, '4', 3)

In [47]:
atuple.count(3)

2

In [48]:
alist = [3, "4", 3]
# Tuples are immutable while lists are mutable
print(atuple)
print(alist)
alist[0] = 5
print(atuple)
print(alist)

(3, '4', 3)
[3, '4', 3]
(3, '4', 3)
[5, '4', 3]

In [49]:
# Convert from tuple to list
print(type(atuple))

<class 'tuple'>

In [50]:
print(type(list(atuple)))

<class 'list'>

In [51]:
v = list(atuple)
v[0] = 123422
print(v)

[123422, '4', 3]

## Boolean

In [52]:
# Also known as logical. It is binary, either true or false
boolTrue = True
stringTrue = "True"
print(type(boolTrue))
print(type(stringTrue))

<class 'bool'>
<class 'str'>

In [53]:
boolTrue == stringTrue

False

In [54]:
4 > 5

False

In [55]:
4 < 5

True

In [56]:
4 <= 5

True

In [57]:
4 >= 5

False

In [58]:
4 <= 4

True

In [59]:
4 < 4

False

In [60]:
4 == 4

True

In [61]:
4.0 == 4

True

In [62]:
4 != 4

False

In [63]:
4 != 4.5

True

In [64]:
a = 8
b = 4
outcome = a == b*2
print(outcome)

True

In [65]:
a = 8
b = 5
outcome = a == b*2
print(outcome)

False

In [66]:
# Conjunctive omparisons
14 > 5 and 7 < 10

True

In [67]:
14 > 5 and 7 < 10 and 5 < 10

True

In [68]:
14 < 5 and 7 < 10

False

In [69]:
14 < 5 or 7 < 10

True

In [70]:
bool(0)

False

In [71]:
bool(1)

True

In [72]:
bool(2)

True

In [73]:
bool(-1)

True

In [74]:
# Every string is true except empty string
bool("Mike is a noce guy")

True

In [75]:
bool(" ")

True

In [76]:
bool("")

False

In [77]:
# Exercise
# Ask the user for Pythagorean tripplet and ask whether its a real tripplet
# 3, 4, 5
# 5, 12, 13 etc
# Your answer is True/False
print("Lets test your knowledge of Pythagorean tripplets")

# input three sides
a = float(input("Input the length of side a: "))
b = float(input("Input the length of side b: "))
c = float(input("Input the length of side c: "))

# check for accuracy
result = a**2 + b**2 == c**2

# print the result
print("Your answer is", result)

Lets test your knowledge of Pythagorean tripplets
Input the length of side a: 3
Input the length of side b: 4
Input the length of side c: 5
Your answer is True

## Dictionaries

In [78]:
# Initialize the dictionary and then populate it
d = dict()
d

{}

In [79]:
# The key-value pair
d["name"] = "Ilir"
d["AgeRange"] = [20, 50]
print(d)

{'name': 'Ilir', 'AgeRange': [20, 50]}

In [80]:
e = {"name": "Ilir", "AgeRange": [20, 50]}
print(e)

{'name': 'Ilir', 'AgeRange': [20, 50]}

In [81]:
# Extract information from the dictionary
d["name"]

'Ilir'

In [82]:
d.keys()

dict_keys(['name', 'AgeRange'])

In [83]:
d.values()

dict_values(['Ilir', [20, 50]])

In [84]:
"name" in d

True

In [85]:
"name123" in d

False

In [86]:
# Keys are case-sensitive
"Name" in d

False

In [87]:
# We cannot access values like keys though, dictionary only searches for key
"Ilir" in d

False

In [88]:
"Ilir" not in d

True

In [89]:
# to see key-value pairs
d.items()

dict_items([('name', 'Ilir'), ('AgeRange', [20, 50])])

In [90]:
# Exercise
# Input two numbers from the user
# Create a dictionary with keys: "firstNumber", "secondNumber", "product"
a = float(input("Please give me a number: "))
b = float(input("Please give me another number: "))
prd = {"firstnumber": a, "secondNumber": b, "product": a*b}
print(prd)

Please give me a number: 6
Please give me another number: 78
{'firstnumber': 6.0, 'secondNumber': 78.0, 'product': 468.0}

In [91]:
prd.items()

dict_items([('firstnumber', 6.0), ('secondNumber', 78.0), ('product', 468.0)])

In [92]:
# To remove a variable from python's workspace use del
# del d for example to delete dictionary d